@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VT323", monospace;
}

header,
footer {
  background: #7e7f9a;
  color: white;
}

header h1 {
  margin: 0 0 50px;
  padding: 25px;
}

#canvas {
  border: 3px solid #393e41;
  display: grid;
  grid-template-columns: repeat(30, 16.67px);
  grid-template-rows: repeat(30, 16.67px);
  height: 500px;
  width: 500px;
  margin: 0 auto;
}

.cell {
  border: 1px solid lightgray;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  height: 16.67px;
  width: 16.67px;
}

#current-color {
  border: 2px solid #393e41;
  display: block;
  height: 50px;
  margin: 25px auto;
  width: 50px;
}

#palette {
  height: 50px;
  margin: 25px auto;
  text-align: center;
  width: 80%;
}

#palette .color {
  border: 2px solid #393e41;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  height: 50px;
  width: 50px;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

nav {
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: plum;
  font-size: 2em;
}
a:hover {
  background-color: blanchedalmond;
  opacity: 0.5;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px ;
}

#reset, #fill {
  width: 100px;
  height: 2em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
}